.spaced-column {
    display: flex;
    flex-flow: column;  
    justify-content: space-between;
}

#applicant-list-container {
    display: flex;
    justify-content: center;
    height: 90%;

    #applicant-list {
        list-style-type: none;
        padding: 0;
        width: max-content;
        overflow: scroll;
        max-height: 80%;
        margin: auto;
    
        & > .applicant-list-item {
            display: grid;
            grid-template-columns: repeat(5, 1fr) 1.2fr;
    
            & > * {
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
    }
}

#applicant-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 3fr 2fr;

    & > #applicant-form {
        grid-column: 1 / 3;
    }

    & > #file-form,
    & > #file-downloads {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(3, 1fr);

        &#file-form {
            grid-column: 1;
        }

        &#file-downloads {
            grid-column: 2;
        }
        
        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & > #apply-to-professors,
    & > #applied-to-professors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &#apply-to-professors {
            grid-column: 1;
        }

        &#applied-to-professors {
            grid-column: 2;
        }

        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}