$primary-color: #6930C3;
$primary-color-dark: #4A1E8E;
$secondary-color: #FFCA28;
$tertiary-color: #FFF;
$background-color: #F5F5F5;
$typeface-family: 'Open Sans', sans-serif;
$btn-font-size: 0.9em;

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

button,
input[type="button"],
input[type="submit"],
.dropdown {
    border: none;
    background-color: $primary-color;
    color: $tertiary-color;
    padding: 8px 14px;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    
    &:focus,
    &:hover {
        background-color: $primary-color-dark;
        cursor: pointer;

        &:active {
            background-color: $secondary-color;
            color: black;
        }
    }

    & > a {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
    }
}



#account-creation {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    padding: 0.5em;
    border: 4px solid $primary-color;

    & > #account-creation-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        row-gap: 1em;
        height: 100%;
        width: 100%;

        & > span {
            margin: auto;
        }

        & > .form-group {
            display: grid;
            grid-template-columns: 1fr 1.4fr;
            height: 50%;

            & > * {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    & > button {
        width: 100%;
        height: 100%;
        grid-column: 1 / 3;
    }
}

.selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100%;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.list-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.labeled-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    padding: 0.5em;
    border: 4px solid $primary-color;

    & > * {
        margin: auto;
    }


}

.form-group > input {
    outline: 0;
    border: 1px solid $primary-color-dark;
    background-color: $tertiary-color;
    font-size: $btn-font-size;
    padding: 8px 14px;

    &:focus {
        outline: 1px solid $secondary-color;
        border: 1px solid $tertiary-color;
    }
}

.spaced-column {
    display: flex;
    flex-flow: column;  
    justify-content: space-between;
}